<div class="container">
  <slot />
</div>

<style>
  .container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 24px;
  }

  @media (max-width: 640px) {
    .container {
      padding: 0 18px;
    }
  }
</style>