---
import Container from "./Container.astro";
import { SITE, LINKS } from "../config";
---

<footer style="padding: 40px 0;">
  <Container>
    <div class="hr"></div>

    <div style="display:flex; justify-content:space-between; gap: 12px; flex-wrap:wrap;">
      <div class="small">
        © {new Date().getFullYear()} {SITE.name}
      </div>

      <div class="small">
        <a href={`mailto:${LINKS.email}`}>{LINKS.email}</a> ·
        <a href={LINKS.linkedin} target="_blank" rel="noreferrer"> LinkedIn</a>
      </div>
    </div>
  </Container>
</footer>